body {
    margin: 0;
    color: #fff;
    background-color: #333;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header .site-logo img {
    width: 2em;
    height: 2em;
}

main {
    padding: 1em;
}
